@CHARSET "UTF-8";
*{list-style:none; margin:0; padding:0;}

#section01{
	width: 100%;
	height: 700px;
	background-image: url('../../resources/images/computer01.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	/* opacity: 1.0; 투명도*/ 	
}

#section02{
	width: 100%;
	height: 700px;
	background-image: url('../../resources/images/computer02.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#section03{
	width: 100%;
	height: 700px;
	background-image: url('../../resources/images/computer03.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#section04{
	width: 100%;
	height: 700px;
	background-image: url('../../resources/images/computer04.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#section05{
	width: 100%;
	height: 700px;
}

.menu_box{
	width: 100%;
	height: 90px;
	color: black;
	position: fixed;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
.fixed{
	bakcground: rgba(0,0,0,0.5);
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

.logo a{
	font-size: 46px;
	padding: 15px 0 0 35px;
	float: left;
	color: #FFF;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.menu_box > ul{
	float: right;
	padding: 0 35px 0 0;
}

.menu_box li{
	float: left;
	text-align: center;
	width: 100px;
}

.menu_box li a{
	text-decoration: none;
	color: #FFF;
	line-height: 100px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.menu_box li a:hover{
	border-top: 2px solid #FFF;
	padding-top: 40px;
	color: #FFF;
}

.menu_box li:nth-child(2) a:hover{
	border-top: 2px solid #6FF;
	padding-top: 40px;
	color: #6FF;
}

.menu_box li:nth-child(3) a:hover{
	border-top: 2px solid #9F0;
	padding-top: 40px;
	color: #9F0;
}

.menu_box li:nth-child(4) a:hover{
	border-top: 2px solid #F33;
	padding-top: 40px;
	color: #F33;
}

.menu_box li:nth-child(5) a:hover{
	border-top: 2px solid #FC0;
	padding-top: 40px;
	color: #FC0;
}

.menuContext{
	position: relative;
	top: 50%; 
	width: 500px;
	height: 100px;
	margin: 0 auto;
}

.menuContext li{
	float: left;
	width: 150px;
	color: red;
}

.menuContext li:nth-child(2){
	float: left;
	width: 150px;
	color: red;
	margin-left: 20px;
}

.menuContext li:nth-child(3){
	float: left;
	width: 150px;
	color: red;
	margin-left: 20px;
}

.rightNav{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	overflow-x: hidden;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
.loginNav{
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
.loginText{
	margin-left: 10px;
	clear: both;
}